In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("green_tripdata_2019-01.csv")

In [32]:
condition = (data.lpep_pickup_datetime > "2019-01-15") & (data.lpep_pickup_datetime < "2019-01-16") & \
(data.lpep_dropoff_datetime > "2019-01-15") & (data.lpep_dropoff_datetime < "2019-01-16")

In [21]:
data[condition].shape[0]

20530

In [22]:
data.shape[0]

630918

In [27]:
data[condition].sort_values('lpep_pickup_datetime',ascending=False)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
300683,2,2019-01-15 23:56:38,2019-01-15 23:59:00,N,1,7,7,5,0.37,3.5,0.5,0.5,0.00,0.0,NaN,0.3,4.80,2,1,NaN
300946,1,2019-01-15 23:55:39,2019-01-15 23:59:11,N,1,7,7,1,0.90,5.0,0.5,0.5,0.00,0.0,NaN,0.3,6.30,2,1,NaN
300771,1,2019-01-15 23:55:32,2019-01-15 23:58:26,N,1,74,75,1,0.70,4.5,0.5,0.5,1.70,0.0,NaN,0.3,7.50,1,1,NaN
300922,2,2019-01-15 23:54:54,2019-01-15 23:57:45,N,1,193,193,1,0.00,3.5,0.5,0.5,1.20,0.0,NaN,0.3,6.00,1,1,NaN
300981,2,2019-01-15 23:54:21,2019-01-15 23:59:54,N,1,43,151,1,1.48,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279998,2,2019-01-15 00:00:45,2019-01-15 00:07:05,N,1,244,42,2,1.60,7.5,0.5,0.5,0.00,0.0,NaN,0.3,8.80,2,1,NaN
280364,1,2019-01-15 00:00:44,2019-01-15 00:06:32,N,1,82,56,1,1.10,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,4,1,NaN
280344,2,2019-01-15 00:00:41,2019-01-15 00:13:38,N,1,71,188,5,2.53,11.0,0.5,0.5,0.00,0.0,NaN,0.3,12.30,1,1,NaN
280118,2,2019-01-15 00:00:34,2019-01-15 00:14:48,N,1,116,243,1,3.89,14.5,0.5,0.5,0.00,0.0,NaN,0.3,15.80,2,1,NaN
280406,2,2019-01-15 00:00:10,2019-01-15 00:03:01,N,1,255,112,1,0.69,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1,NaN

In [28]:
data = pd.read_parquet("green_tripdata_2019-01.parquet")

In [29]:
data.shape[0]

672105

In [33]:
data[condition].shape[0]

22292